@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%;
  margin: 0 auto;
}

:root {
  --light-gray: #a6a6aa;
  --light-orange: #ec8a3f;
  --light-orange-bg: #ffeee1;
  --light-blue: #f7f8fe;
  --orange: #fe7d1c;
  --cream: #ebe0b9;
}

/*=================================
  Header styling starts here
=================================*/

header .wrapper,
.left-nav,
.right-nav,
.left-nav-list,
.image-thumbnail-container,
.modal-thumbnail-container {
  display: flex;
  align-items: center;
}

header .wrapper {
  justify-content: space-between;
  width: 77%;
  padding: 31px 0 31px;
  border-bottom: 2px solid #eee;
}

.avatar img {
  width: 52px;
  height: 52px;
}

.left-nav {
  gap: 66px;
}

.left-nav-list {
  gap: 32px;
}

.left-nav-list li a {
  color: #666;
}

.right-nav {
  gap: 45px;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

main .wrapper {
  width: 70.4%;
  padding: 97px 0 130px;
  display: flex;
  justify-content: space-between;
}

.main-image-container img {
  max-width: 100%;
  border-radius: 15px;
}

.image-thumbnail-container li img,
.modal-thumbnail-container li img {
  max-width: 100%;
  max-height: 95px;
  border-radius: 10px;
}

.active-img-list {
  border-radius: 13px;
  border: 3.3px solid #ea8335;
  height: 101px;
}

.active-image {
  opacity: 0.3;
}

.image-thumbnail-container li,
.modal-thumbnail-container li {
  max-width: 100%;
}

.image-thumbnail-container,
.modal-thumbnail-container {
  justify-content: space-between;
}

.main-image-container {
  margin-bottom: 28px;
}

.product-image-container,
.product-info-container {
  max-width: 44%;
}

.sneaker {
  letter-spacing: 1.1px;
  font-size: 14.5px;
  font-weight: 700;
  color: var(--light-orange);
}

.product-info-container {
  padding-top: 63px;
}

h1 {
  font-size: 46px;
  margin-top: 17px;
  margin-bottom: 38px;
  line-height: 50px;
}

.product-info-container p {
  font-size: 15px;
  letter-spacing: 1.1px;
  line-height: 27px;
  color: #666;
  margin-bottom: 27px;
}

.current-price {
  font-weight: bold;
  font-size: 32px;
}

.percentage {
  background: var(--light-orange-bg);
  color: var(--light-orange);
  font-weight: bold;
  padding: 5px 2%;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.current-price-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
}

.discount {
  color: #999;
  text-decoration: line-through;
  margin-bottom: 37px;
}

.cart-container {
  display: flex;
  gap: 16px;
}

.number-container {
  display: flex;
  background: var(--light-blue);
  flex-basis: 37%;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.number-container li {
  flex-grow: 1;
  text-align: center;
  padding: 13px 0;
  font-size: 25px;
  font-weight: bold;
}

li.number-display {
  font-size: 18px;
}

.decrement,
.increment {
  color: var(--orange);
}

.cart-box {
  flex-basis: 65%;
  background: var(--orange);
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  gap: 15px;
}

.cart-box button {
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--cream);
  font-size: 15px;
  font-weight: bold;
}

.cart-box span {
  position: relative;
  text-indent: -9999px;
}

.cart-box span::before {
  content: "\f07a";
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  font-family: "FontAwesome";
  color: var(--cream);
}

.mobile-menu {
  display: none;
}

.indicator {
  display: none;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px 30px;
}

.main-image-container {
  position: relative;
}

.icon {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  position: relative;
}

.icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator li:hover,
.cart:hover,
.avatar:hover,
.image-thumbnail-container li:hover,
.modal-thumbnail-container li:hover,
.decrement:hover,
.increment:hover,
.cart-box:hover,
.hero-image:hover {
  cursor: pointer;
}

.avatar img {
  border: 2px solid transparent;
  border-radius: 50%;
}

.cart-basket {
  display: flex;
  flex-direction: column;
}

.cart-basket {
  box-shadow: 11px 16px 21px -3px rgba(0, 0, 0, 0.1),
    -8px 10px 15px -3px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 6%;
  top: 90px;
  width: 25%;
  background-color: #fff;
  height: 255px;
  z-index: 9999;
}

.product-info {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-head {
  padding: 25px;
  border-bottom: 0.1px solid #e8e7eb;
  font-weight: bold;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  position: relative;
  margin-bottom: 35px;
}

.hero-image-container figure img {
  width: 100%;
  border-radius: 15px;
}

.hero-image-container figure {
  width: 100%;
}

.close-icon {
  display: flex;
  justify-content: end;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.close-icon:hover span::before {
  color: #ea8335;
}

.close-icon span {
  width: 25px;
  height: 25px;
  display: inline-block;
  text-indent: -9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon span::before {
  content: "\f00d";
  font-family: "FontAwesome";
  color: #fff;
  font-size: 30px;
  text-indent: 0;
  position: absolute;
}

.modal-arrow-container {
  width: 100%;
  position: absolute;
  height: 55px;
  display: flex;
  align-items: center;
}

.modal-indicator {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.modal-indicator li:hover {
  cursor: pointer;
}

.modal-indicator .icon {
  width: 55px;
  height: 55px;
}

.modal-indicator .previous-icon {
  position: absolute;
  left: -27.5px;
}

.modal-indicator .next-icon {
  position: absolute;
  right: -27.5px;
}

.modal-thumbnail-container {
  padding: 0 9.2%;
}

.modal-box {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  overflow: auto;
  padding-bottom: 200px;
}

.modal-box .wrapper {
  flex-direction: column;
  width: 38.2%;
  padding: 0;
  position: relative;
  top: 85px;
}

.modal-box {
  display: none;
}

.cart {
  display: flex;
  position: relative;
}

.left-nav-list.show {
  display: flex;
}

.product-info-para {
  padding: 25px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-number {
  position: absolute;
  display: inline-block;
  text-indent: -9999px;
  width: 23px;
  height: 18px;
  background-color: #ea7319;
  border-radius: 50%;
  top: -9px;
  right: -7px;
}

.dis {
  text-indent: 0;
  text-align: center;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--cream);
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.avatar:hover img {
  border: 2px solid #fe7d1c;
}

.left-nav-list li {
  position: relative;
}

.logo-container:hover,
.cart-box:hover,
.cart-box button:hover {
  cursor: pointer;
}

.left-nav-list li:hover::after {
  width: 100%;
  height: 4px;
  background-color: #fe7d1c;
  position: absolute;
  content: "";
  bottom: -50px;
  left: 0px;
}

.product-info {
  padding: 25px;
}

.product-details {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 28px;
  justify-content: space-between;
}

.product-details figure:nth-of-type(1) {
  width: 52px;
  height: 52px;
}

.product-details img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.product-details p img {
  width: 10px;
  height: 10px;
}

.product-details .delete-icon {
  width: 13px;
  height: 19px;
}

.product-details .delete-icon:hover,
.checkout-btn:hover {
  cursor: pointer;
}

.product-info {
  justify-content: space-between;
  align-items: initial;
}

.product-details p {
  font-size: 17px;
  line-height: 25px;
  color: #909195;
}

.cart-head {
  font-size: 17px;
}

.checkout-btn {
  width: 100%;
  height: 60px;
  border-radius: 15px;
  border: none;
  background-color: #ea7319;
  font-size: 16px;
  color: #fff5df;
  font-weight: 600;
  margin-bottom: 7px;
}

.cart-basket {
  height: auto;
  border-radius: 10px;
}

.total-price {
  font-weight: bold;
  color: #000;
}

.checkout-btn:hover {
  color: #fff;
}

/*=================================
  main styling ends here
=================================*/

/*media query starts*/

/*media query for 1440px starts here*/
@media only screen and (max-width: 1440px) {
  header .wrapper {
    padding: 31px 0 31px;
  }

  .left-nav {
    gap: 56px;
  }

  .avatar img {
    width: 52px;
    height: 52px;
  }

  h1 {
    font-size: 46px;
    margin-bottom: 30px;
  }

  main .wrapper {
    padding: 88px 0 130px;
  }

  .product-info-container {
    padding-top: 63px;
  }

  .sneaker {
    font-size: 14px;
  }

  .product-info-container p {
    font-size: 14px;
    letter-spacing: 1.2px;
    line-height: 25px;
  }

  .current-price {
    font-size: 29px;
  }

  .product-details p {
    font-size: 14px;
  }

  .product-info-box {
    flex-grow: 1;
  }

  .cart-basket {
    width: 26.5%;
  }
}

/*media query for 1300px starts here*/
@media only screen and (max-width: 1300px) {
  .product-info-container {
    padding-top: 30px;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 18px;
  }

  .product-image-container {
    max-width: 46%;
  }

  .image-thumbnail-container li img,
  .modal-thumbnail-container li img {
    max-height: 75px;
  }

  .current-price {
    font-size: 25px;
  }

  .number-container li {
    padding: 10px 0;
  }

  .product-info-container p {
    margin-bottom: 25px;
  }

  .discount {
    margin-bottom: 23px;
  }

  .modal-thumbnail-container {
    padding: 0 3%;
  }

  .modal-thumbnail-container li {
    height: 95px;
  }

  .modal-thumbnail-container li img {
    max-height: 95px;
  }

  .modal-box .wrapper {
    width: 45%;
  }

  .cart-basket {
    width: 31%;
  }

  .product-details p {
    font-size: 14px;
  }

  .active-img-list {
    height: 81px;
  }
}

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  .product-info-container p {
    font-size: 13px;
  }

  main .wrapper,
  header .wrapper {
    width: 86%;
  }

  .product-image-container {
    max-width: 50%;
  }

  .product-info-container {
    padding-top: 20px;
  }

  .modal-box .wrapper {
    width: 45%;
  }

  .modal-thumbnail-container {
    padding: 0;
  }

  .cart-basket {
    width: 35%;
  }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .mobile-nav {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .mobile-menu {
    display: block;
  }

  .left-nav {
    flex-wrap: wrap;
    gap: 20px;
  }

  .left-nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  header .wrapper {
    align-items: baseline;
  }

  .left-nav-list {
    display: none;
  }

  .modal-box .wrapper {
    width: 50%;
  }

  .modal-thumbnail-container li {
    height: 90px;
  }

  .modal-thumbnail-container li img {
    max-height: 85px;
  }

  .modal-indicator .icon {
    width: 50px;
    height: 50px;
  }

  .product-details p {
    font-size: 13px;
    line-height: 20px;
  }

  .cart-basket {
    width: 38%;
  }

  .left-nav-list:hover::after {
    bottom: -8px;
  }
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  main .wrapper {
    flex-direction: column;
  }
  .product-image-container,
  .product-info-container {
    max-width: 100%;
  }

  .product-info-container {
    padding-top: 60px;
  }

  .product-info-container p {
    font-size: 17px;
  }

  .price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .current-price-container,
  .discount {
    margin-bottom: 30px;
  }

  .number-container,
  .cart-box {
    flex-basis: 50%;
  }

  .image-thumbnail-container {
    display: none;
  }

  .main-image-container {
    margin-bottom: 0px;
  }

  .indicator {
    display: flex;
  }

  .modal-box .wrapper {
    width: 75%;
  }

  .cart-basket {
    width: 50%;
  }

  .checkout-btn {
    height: 50px;
  }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  .indicator {
    padding: 0px 15px;
  }

  .avatar img {
    width: 40px;
    height: 40px;
  }

  .right-nav {
    gap: 25px;
  }

  .modal-box .wrapper {
    width: 85%;
  }

  .modal-thumbnail-container li {
    height: 80px;
  }

  .modal-thumbnail-container li img {
    max-height: 75px;
  }

  .modal-indicator .icon {
    width: 35px;
    height: 35px;
  }

  .modal-indicator .previous-icon {
    position: absolute;
    left: -17.5px;
  }

  .modal-indicator .next-icon {
    position: absolute;
    right: -17.5px;
  }

  .cart-basket {
    width: 80%;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .product-details p {
    font-size: 14px;
  }
}

/*media query for 420px starts here*/
@media only screen and (max-width: 420px) {
  .icon img {
    width: 10px;
  }

  .cart-container {
    flex-direction: column;
  }

  .cart-box {
    padding: 5px 0;
  }

  .modal-thumbnail-container li {
    height: 70px;
  }

  .modal-thumbnail-container li img {
    max-height: 65px;
  }

  .cart-basket {
    width: 86%;
    top: 80px;
  }

  .product-details p {
    font-size: 13px;
  }

  .product-details {
    gap: 8px;
  }
}

/*media query for 375px starts here*/
@media only screen and (max-width: 375px) {
  header .wrapper {
    padding: 14px 0 20px;
    width: 87.5%;
    border: none;
  }

  .avatar img {
    width: 25px;
    height: 25px;
  }

  .mobile-nav {
    gap: 14px;
  }

  .right-nav {
    gap: 22px;
  }

  main .wrapper {
    padding: 0;
    width: 100%;
  }

  .main-image-container img {
    border-radius: 0px;
  }

  .hero-image img {
    width: 100%;
    height: 285px;
    object-fit: cover;
  }

  .icon {
    width: 38px;
    height: 38px;
  }

  .product-info-container {
    width: 87.5%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 91px;
  }

  .sneaker {
    font-size: 12px;
  }

  h1 {
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 12px;
  }

  .product-info-container p {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.7px;
  }

  .current-price {
    font-size: 28px;
  }

  .percentage {
    padding: 1px 6%;
  }

  .product-info-container p,
  .current-price-container,
  .discount {
    margin-bottom: 20px;
  }

  .number-container li {
    padding: 12px 6%;
    flex-grow: 0;
  }

  .cart-box {
    padding: 7px 0;
  }
}
