* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%;
  margin: 0 auto;
}

:root {
  --light-gray: #a6a6aa;
  --light-orange: #ec8a3f;
  --light-orange-bg: #ffeee1;
  --light-blue: #f7f8fe;
  --orange: #fe7d1c;
  --cream: #ebe0b9;
}

/*=================================
  Header styling starts here
=================================*/

header .wrapper,
.left-nav,
.right-nav,
.left-nav-list,
.image-thumbnail-container {
  display: flex;
  align-items: center;
}

header .wrapper {
  justify-content: space-between;
  width: 77%;
  padding: 27px 0 29px;
  border-bottom: 2px solid #eee;
}

.avatar img {
  width: 50px;
  height: 50px;
}

.left-nav {
  gap: 56px;
}

.left-nav-list {
  gap: 32px;
}

.left-nav-list li a {
  color: #666;
}

.right-nav {
  gap: 45px;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

main .wrapper {
  width: 70.4%;
  padding: 88px 0;
  display: flex;
  justify-content: space-between;
}

.main-image-container img {
  max-width: 100%;
  /* max-width: 440px; */
  border-radius: 15px;
}

.image-thumbnail-container li img {
  /* max-width: 90px; */
  max-width: 100%;
  max-height: 95px;
  border-radius: 10px;
}

.image-thumbnail-container li {
  max-width: 100%;
}

.image-thumbnail-container {
  justify-content: space-between;
}

.main-image-container {
  margin-bottom: 28px;
}

.product-image-container,
.product-info-container {
  max-width: 44%;
}

.sneaker {
  letter-spacing: 1.1px;
  font-size: 14px;
  font-weight: 700;
  color: var(--light-orange);
}

.product-info-container {
  padding-top: 60px;
}

h1 {
  font-size: 42px;
  margin-top: 17px;
  margin-bottom: 37px;
}

.product-info-container p {
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 25px;
  color: #666;
  margin-bottom: 27px;
}

.current-price {
  font-weight: bold;
  font-size: 29px;
}

.percentage {
  background: var(--light-orange-bg);
  color: var(--light-orange);
  font-weight: bold;
  padding: 5px 2%;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.current-price-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.discount {
  color: #999;
  text-decoration: line-through;
  margin-bottom: 37px;
}

.cart-container {
  display: flex;
  gap: 15px;
}

.number-container {
  display: flex;
  background: var(--light-blue);
  flex-basis: 37%;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.number-container li {
  flex-grow: 1;
  text-align: center;
  padding: 13px 0;
  font-size: 25px;
  font-weight: bold;
}

li.number-display {
  font-size: 18px;
}

.decrement,
.increment {
  color: var(--orange);
}

.cart-box {
  flex-basis: 65%;
  background: var(--orange);
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  gap: 15px;
}

.cart-box button {
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--cream);
  font-size: 15px;
  font-weight: bold;
}

.cart-box span {
  position: relative;
  text-indent: -9999px;
}

.cart-box span::before {
  content: "\f07a";
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  font-family: "FontAwesome";
  color: var(--cream);
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/

/*media query for 1300px starts here*/
@media only screen and (max-width: 1300px) {
  .product-info-container {
    padding-top: 30px;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 18px;
  }

  .product-image-container {
    max-width: 46%;
  }

  .image-thumbnail-container li img {
    max-height: 75px;
  }

  .current-price {
    font-size: 25px;
  }

  .number-container li {
    padding: 10px 0;
  }

  .product-info-container p {
    margin-bottom: 25px;
  }

  .discount {
    margin-bottom: 23px;
  }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
